/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.h-1 .co1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
  height: 128px;
  flex-shrink: 0;
}
.h-1 .co1 .im1 {
  width: 257px;
  height: 57px;
  -o-object-fit: scale-down;
     object-fit: scale-down;
}
.h-1 .co1 .se {
  display: flex;
  width: 350px;
  justify-content: space-between;
  font-size: 20px;
}
.h-1 .co1 .se .home {
  margin-left: 10px;
  flex-shrink: 0;
  color: #0e1020;
}
.h-1 .co1 .se .game {
  flex-shrink: 0;
  color: #0e1020;
}
.h-1 .co1 .emo {
  display: flex;
  padding: 10px 0px;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.h-1 .co1 .emo .gu {
  margin-left: 32px;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}
.h-1 .co1 .emo .qq {
  width: 32px;
  height: 32px;
}
.h-1 .co1 .emo .ge {
  width: 32px;
  height: 32px;
  padding: 6.5px 4.5px;
  justify-content: center;
  align-items: center;
  color: gray;
}

.s-1 .con2 {
  display: flex;
  margin-bottom: 96px;
  width: 100%;
  height: 840px;
  background-image: url("../png/portal.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  flex-shrink: 0;
}
.s-1 .con2 .shop {
  margin-top: 480px;
  margin-left: 640px;
  width: 100% px;
  height: 50px;
}
.s-1 .con2 .shop .buy {
  color: #03005b;
  font-family: Gilda Display;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.s-2 .categori {
  margin-left: 100px;
  margin-bottom: 104px;
  width: 397px;
  height: 48px;
  color: var(--Gray-Gray-10, #0e1020);
  font-family: Gilda Display;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 48px; /* 120% */
}
.s-2 .con3 {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}
.s-2 .con3 .CATEGORY-2 img {
  width: 295px;
  height: 360px;
  flex-shrink: 0;
}
.s-2 .con4 {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}
.s-2 .con4 .name {
  color: var(--Gray-Gray-10, #0e1020);
  font-family: Gilda Display;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 100% */
}

.s-3 {
  margin-top: 104px;
  width: 100%;
  height: 840px;
  background-image: url("../png/godfall.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.s-3 .con5 {
  display: flex;
}
.s-3 .con5 .shop {
  margin-top: 100px;
  margin-left: 100px;
  width: 123px;
  height: 48px;
  background: #4e1900;
  border-radius: 5px;
}
.s-3 .con5 .shop .buy {
  padding: 12px 16px;
  color: #ffffff;
  font-family: Gilda Display;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.s-4 {
  margin-top: 94px;
}
.s-4 .con6 {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 120px;
  display: flex;
  justify-content: space-around;
}
.s-4 .con6 .game-1 img {
  width: 295px;
  height: 360px;
  flex-shrink: 0;
}

.f-1 .f-b-d {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 320px;
  flex-shrink: 0;
  background-color: #c9cbbd;
}
.f-1 .f-b-d .d-1 {
  margin-top: 57px;
}
.f-1 .f-b-d .d-1 .im2 {
  width: 257px;
  height: 57px;
  -o-object-fit: scale-down;
     object-fit: scale-down;
}
.f-1 .f-b-d .d-2 {
  margin-top: 57px;
}
.f-1 .f-b-d .d-2 h3 {
  width: 36px;
  height: 24px;
  flex-shrink: 0;
  color: var(--gray-gray-10, #0e1020);
  font-family: Gilda Display;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 137.5% */
}
.f-1 .f-b-d .d-2 .xz2 {
  margin-bottom: 16px;
  margin-top: 8px;
  width: 68px;
  height: 0.5px;
  flex-shrink: 0;
  background-color: black;
}
.f-1 .f-b-d .d-2 P {
  width: 63px;
  height: 18px;
  flex-shrink: 0;
  color: var(--gray-gray-10, #0e1020);
  font-family: Gilda Display;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 150% */
}
.f-1 .f-b-d .d-3 {
  margin-top: 57px;
}
.f-1 .f-b-d .d-3 h3 {
  width: 55px;
  height: 24px;
  flex-shrink: 0;
  color: var(--gray-gray-10, #0e1020);
  font-family: Gilda Display;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 137.5% */
}
.f-1 .f-b-d .d-3 .xz3 {
  margin-bottom: 16px;
  margin-top: 8px;
  width: 104px;
  height: 0.5px;
  flex-shrink: 0;
  background-color: black;
}
.f-1 .f-b-d .d-3 p {
  width: 102px;
  height: 18px;
  flex-shrink: 0;
  color: var(--gray-gray-10, #0e1020);
  font-family: Gilda Display;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 150% */
}
.f-1 .f-b-d .d-4 {
  margin-top: 57px;
}
.f-1 .f-b-d .d-4 h3 {
  width: 60px;
  height: 24px;
  flex-shrink: 0;
  color: var(--gray-gray-10, #0e1020);
  font-family: Gilda Display;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 137.5% */
}
.f-1 .f-b-d .d-4 .xz4 {
  margin-bottom: 16px;
  margin-top: 8px;
  width: 80px;
  height: 0.5px;
  flex-shrink: 0;
  background-color: #000;
}
.f-1 .f-b-d .d-4 p {
  width: 78px;
  height: 18px;
  flex-shrink: 0;
  color: var(--gray-gray-10, #0e1020);
  font-family: Gilda Display;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 150% */
}
.f-1 .f-b-d .d-5 {
  margin-top: 57px;
}
.f-1 .f-b-d .d-5 h3 {
  width: 72px;
  height: 24px;
  flex-shrink: 0;
  color: var(--gray-gray-10, #0e1020);
  font-family: Gilda Display;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 137.5% */
}
.f-1 .f-b-d .d-5 .xz5 {
  margin-bottom: 16px;
  margin-top: 8px;
  width: 120px;
  height: 0.5px;
  flex-shrink: 0;
  background-color: #000;
}

.s-5 .con7 {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 72px;
  display: flex;
}
.s-5 .con7 .myim img {
  width: 820px;
  height: 546px;
}
.s-5 .con7 .myph h2 {
  margin-left: 63px;
  color: var(--Primary-Primary-10, #35b0fc);
  font-family: Gilda Display;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 125% */
}
.s-5 .con7 .myph p {
  margin-top: 102px;
  margin-left: 63px;
  display: flex;
  color: var(--Gray-Gray-10, #0e1020);
  font-family: Gilda Display;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 166.667% */
}
.s-5 .con7 .myph .shop {
  margin-left: 63px;
  width: 356px;
  height: 48px;
  background: #777d59;
  border-radius: 5px;
}
.s-5 .con7 .myph .shop .buy {
  padding: 12px 129px;
  color: #ffffff;
  font-family: Gilda Display;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

@media (max-width: 900px) {
  .h-1 .emo {
    display: none;
  }
}/*# sourceMappingURL=global.css.map */