@media (max-width: 1300px) {
  .container {
    width: 90%;
  }
}

@media (max-width: 1196px) {
  .card-wrapper {
    justify-content: space-around;
  }
  .s-2flex {
    flex-direction: column;
    align-items: center;
  }
  .info-wrapper {
    width: 80%;
  }
}

@media (max-width: 900px) {
  .fa-bars {
    display: block;
  }
  nav {
    display: none;
  }
}

@media (max-width: 860px) {
  .card {
    width: 80%;
  }
}
